In [1]:
#importing required libraries
import requests
from bs4 import BeautifulSoup
import csv

## **Orange Cap**

In [2]:
#getting the url 
result = requests.get('https://www.firstpost.com/firstcricket/orange-cap-holder/series/ipl-2022.html')

In [3]:
#getting the content
src = result.content

In [4]:
#creating the BeautifulSoup object
soup = BeautifulSoup(src,'html.parser')

In [5]:
#getting all the tables form the webpage
table = soup.find_all("table")
#getting the first table on the webpage
orange_cap_table = table[0]

In [6]:
#getting all the rows of the table 
players = orange_cap_table.find_all("tr")

In [7]:
#evaluating whether the dats is fetched or not 
stats = players[1].find_all("td")

IndexError: list index out of range

In [ ]:
stats[4].text.strip()

'375'

In [ ]:
#storing all the fetched data 
pos = []
player_name = []
team = []
matches = []
runs = []
for i in range(1,13):
    stats = players[i].find_all("td")
    pos.append(stats[0].text)
    player_name.append(stats[1].text.strip())
    team.append(stats[2].text.strip())
    matches.append(stats[3].text)
    runs.append(stats[4].text)

In [ ]:
#imporing datetime from datetime
from datetime import datetime

In [ ]:
#repeat func() : which returns a list of repeated numbers 
def repeat(num, times):
    temp = []
    for i in range(times):
        temp.append(num)
    return temp

In [ ]:
#creating datetime object
now = datetime.now()
#getting the current day and month
day = repeat(22,12)
month = repeat(now.month,12)

In [ ]:
#creating a dictionary
oc = {
    'Pos':pos,
    'Player':player_name,
    'Team':team,
    'Matches':matches,
    'Runs':runs,
    'Day':day,
    'Month':month
}

In [ ]:
#importing pandas for dataframe manipulation
import pandas as pd

In [ ]:
#creat
df = pd.DataFrame(oc)

In [ ]:
#printing the dataframe
df

   Pos            Player  Team Matches Runs  Day  Month
0    1       Jos Buttler    RR       6  375   21      4
1    2          KL Rahul   LSG       7  265   21      4
2    3    Faf du Plessis   RCB       7  250   21      4
3    4      Shreyas Iyer   KKR       7  236   21      4
4    5     Hardik Pandya    GT       5  228   21      4
5    6       Shivam Dube   CSK       6  226   21      4
6    7  Liam Livingstone  PBKS       7  226   21      4
7    8   Shimron Hetmyer    RR       6  223   21      4
8    9      Prithvi Shaw    DC       6  217   21      4
9   10   Quinton de Kock   LSG       7  215   21      4
10  11    Shikhar Dhawan  PBKS       7  214   21      4
11  12    Dinesh Karthik   RCB       7  210   21      4

In [ ]:
#converting dataframe to the csv
df.to_csv('orange_cap.csv')

In [ ]:
temp = "orange_cap.csv"
Main = "Main\OrangeCap.csv"
#appending csv file to the Main csv file
df = pd.concat(map(pd.read_csv,[Main,temp]),ignore_index=True)
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Pos,Player,Team,Matches,Runs,Day,Month
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Jos Buttler,RR,5,272,14,4
1,1,1.0,1.0,1.0,1.0,1.0,1.0,2,Hardik Pandya,GT,5,228,14,4
2,2,2.0,2.0,2.0,2.0,2.0,2.0,3,Shivam Dube,CSK,5,207,14,4
3,3,3.0,3.0,3.0,3.0,3.0,3.0,4,Shubman Gill,GT,5,200,14,4
4,4,4.0,4.0,4.0,4.0,4.0,4.0,5,Shimron Hetmyer,RR,5,197,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,7,NaN,NaN,NaN,NaN,NaN,NaN,8,Shimron Hetmyer,RR,6,223,21,4
92,8,NaN,NaN,NaN,NaN,NaN,NaN,9,Prithvi Shaw,DC,6,217,21,4
93,9,NaN,NaN,NaN,NaN,NaN,NaN,10,Quinton de Kock,LSG,7,215,21,4
94,10,NaN,NaN,NaN,NaN,NaN,NaN,11,Shikhar Dhawan,PBKS,7,214,21,4
95,11,NaN,NaN,NaN,NaN,NaN,NaN,12,Dinesh Karthik,RCB,7,210,21,4

In [ ]:
#converting main dataframe to the csv format
df.to_csv("Main\OrangeCap.csv")

## **Most Sixes**

In [ ]:
#connecting the url
result = requests.get('https://www.mykhel.com/cricket/ipl-2022-stats-s4/#T20#tab-sixes')

In [ ]:
#getting the content
src = result.content

In [ ]:
#Creating a BeautifulSoup Object
soup = BeautifulSoup(src,'html.parser')

In [ ]:
#getting all the tables 
table = soup.find_all("table")

In [ ]:
#printing the length of the table
len(table)

14

In [ ]:
most_sixes = table[6]

In [ ]:
players = most_sixes.find_all("tr")

In [ ]:
stats = players[1].find_all("td")

In [ ]:
stats[7].text

' 23 '

In [ ]:
pos = []
player_name = []
team = []
matches = []
inn = []
runs = []
sixes = []
for i in range(1,26):
    stats = players[i].find_all("td")
    pos.append(stats[0].text)
    player_name.append(stats[2].text)
    team.append(stats[3].text)
    matches.append(stats[4].text)
    inn.append(stats[5].text)
    runs.append(stats[6].text)
    sixes.append(stats[7].text)

In [ ]:
day = repeat(22,25)
month = repeat(now.month,25)

In [ ]:
mostSix = {
    'Pos':pos,
    'Player':player_name,
    'Team':team,
    'Matches':matches,
    'Inn':inn,
    'Runs':runs,
    'Sixes':sixes,
    'Day':day,
    'Month':month
}

In [ ]:
df = pd.DataFrame(mostSix)

In [ ]:
df

   Pos             Player       Team Matches Inn Runs Sixes  Day  Month
0    1        Jos Buttler  Rajasthan       6   6  375   23    21      4
1    2    Shimron Hetmyer  Rajasthan       6   6  223   17    21      4
2    3   Liam Livingstone     Punjab       7   7  226   16    21      4
3    4      Andre Russell    Kolkata       7   6  179   16    21      4
4    5     Dinesh Karthik  Bangalore       7   7  210   15    21      4
5    6        Shivam Dube    Chennai       7   7  239   14    21      4
6    7      Robin Uthappa    Chennai       7   7  227   14    21      4
7    8   Suryakumar Yadav     Mumbai       5   5  232   13    21      4
8    9       Sanju Samson  Rajasthan       6   6  155   12    21      4
9   10       Lokesh Rahul    Lucknow       7   7  265   11    21      4
10  11        Tilak Varma     Mumbai       7   7  234   11    21      4
11  12     Rahul Tripathi  Hyderabad       6   6  205   11    21      4
12  13     Faf du Plessis  Bangalore       7   7  250    9    21      4
13  14       David Miller    Gujarat       6   6  193    9    21      4
14  15        Nitish Rana    Kolkata       7   7  141    9    21      4
15  16       Prithvi Shaw      Delhi       6   6  217    8    21      4
16  17       David Warner      Delhi       4   4  191    8    21      4
17  18      Ambati Rayudu    Chennai       7   6  168    8    21      4
18  19      Dewald Brevis     Mumbai       5   5  121    8    21      4
19  20      Shahrukh Khan     Punjab       7   7   98    8    21      4
20  21  Bhanuka Rajapaksa     Punjab       3   3   83    8    21      4
21  22      Aiden Markram  Hyderabad       6   5  190    7    21      4
22  23       Deepak Hooda    Lucknow       7   7  183    7    21      4
23  24      Shahbaz Ahmed  Bangalore       7   5  171    7    21      4
24  25         Anuj Rawat  Bangalore       7   7  129    7    21      4

In [ ]:
df.to_csv('most_sixes.csv')

In [ ]:
temp = "most_sixes.csv"
Main = "Main\MostSixes.csv"

df = pd.concat(map(pd.read_csv,[Main,temp]),ignore_index=True)
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Pos,Player,Team,Matches,Inn,Runs,Sixes,Day,Month
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Jos Buttler,Rajasthan,5,5,272,18,14,4
1,1,1.0,1.0,1.0,1.0,1.0,1.0,2,Shimron Hetmyer,Rajasthan,5,5,197,15,14,4
2,2,2.0,2.0,2.0,2.0,2.0,2.0,3,Shivam Dube,Chennai,5,5,207,13,14,4
3,3,3.0,3.0,3.0,3.0,3.0,3.0,4,Robin Uthappa,Chennai,5,5,194,12,14,4
4,4,4.0,4.0,4.0,4.0,4.0,4.0,5,Liam Livingstone,Punjab,5,5,164,12,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20,NaN,NaN,NaN,NaN,NaN,NaN,21,Bhanuka Rajapaksa,Punjab,3,3,83,8,21,4
196,21,NaN,NaN,NaN,NaN,NaN,NaN,22,Aiden Markram,Hyderabad,6,5,190,7,21,4
197,22,NaN,NaN,NaN,NaN,NaN,NaN,23,Deepak Hooda,Lucknow,7,7,183,7,21,4
198,23,NaN,NaN,NaN,NaN,NaN,NaN,24,Shahbaz Ahmed,Bangalore,7,5,171,7,21,4
199,24,NaN,NaN,NaN,NaN,NaN,NaN,25,Anuj Rawat,Bangalore,7,7,129,7,21,4

In [ ]:
df.to_csv('Main\MostSixes.csv')

## **Most Fours**

In [ ]:
result = requests.get('https://www.mykhel.com/cricket/ipl-2022-stats-s4/#T20#tab-four')

In [ ]:
src = result.content

In [ ]:
soup = BeautifulSoup(src,'html.parser')

In [ ]:
table = soup.find_all("table")

In [ ]:
len(table)

14

In [ ]:
most_fours = table[7]

In [ ]:
players = most_fours.find_all("tr")

In [ ]:
stats = players[1].find_all("td")

In [ ]:
stats[6].text

'375'

In [ ]:
pos = []
player_name = []
team = []
matches = []
inn = []
runs = []
fours = []
for i in range(1,26):
    stats = players[i].find_all("td")
    pos.append(stats[0].text)
    player_name.append(stats[2].text)
    team.append(stats[3].text)
    matches.append(stats[4].text)
    inn.append(stats[5].text)
    runs.append(stats[6].text)
    fours.append(stats[7].text)

In [ ]:
day = repeat(22,25)
month = repeat(now.month,25)

In [ ]:
mostFour = {
    'Pos':pos,
    'Player':player_name,
    'Team':team,
    'Matches':matches,
    'Inn':inn,
    'Runs':runs,
    'Fours':fours,
    'Day':day,
    'Month':month
}

In [ ]:
df = pd.DataFrame(mostFour)

In [ ]:
df

   Pos            Player       Team Matches Inn Runs Fours  Day  Month
0    1       Jos Buttler  Rajasthan       6   6  375   32    21      4
1    2      Prithvi Shaw      Delhi       6   6  217   29    21      4
2    3     Hardik Pandya    Gujarat       5   5  228   26    21      4
3    4      Shreyas Iyer    Kolkata       7   7  236   25    21      4
4    5   Quinton de Kock    Lucknow       7   7  215   25    21      4
5    6    Faf du Plessis  Bangalore       7   7  250   23    21      4
6    7      Ishan Kishan     Mumbai       7   7  191   22    21      4
7    8      Lokesh Rahul    Lucknow       7   7  265   21    21      4
8    9    Shikhar Dhawan     Punjab       7   7  214   21    21      4
9   10      Shubman Gill    Gujarat       6   6  200   20    21      4
10  11      David Warner      Delhi       4   4  191   20    21      4
11  12     Robin Uthappa    Chennai       7   7  227   19    21      4
12  13    Rahul Tripathi  Hyderabad       6   6  205   19    21      4
13  14       Shivam Dube    Chennai       7   7  239   18    21      4
14  15  Liam Livingstone     Punjab       7   7  226   18    21      4
15  16    Dinesh Karthik  Bangalore       7   7  210   18    21      4
16  17       Tilak Varma     Mumbai       7   7  234   17    21      4
17  18  Suryakumar Yadav     Mumbai       5   5  232   17    21      4
18  19      David Miller    Gujarat       6   6  193   17    21      4
19  20   Abhishek Sharma  Hyderabad       6   6  173   17    21      4
20  21     Aiden Markram  Hyderabad       6   5  190   16    21      4
21  22      Deepak Hooda    Lucknow       7   7  183   15    21      4
22  23     Ambati Rayudu    Chennai       7   6  168   15    21      4
23  24      Rishabh Pant      Delhi       6   5  144   15    21      4
24  25   Shimron Hetmyer  Rajasthan       6   6  223   14    21      4

In [ ]:
df.to_csv('most_fours.csv')

In [ ]:
temp = "most_fours.csv"
Main = "Main\MostFours.csv"

df = pd.concat(map(pd.read_csv,[Main,temp]),ignore_index=True)
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Pos,Player,Team,Matches,Inn,Runs,Fours,Day,Month
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Hardik Pandya,Gujarat,5,5,228,26,14,4
1,1,1.0,1.0,1.0,1.0,1.0,1.0,2,Jos Buttler,Rajasthan,5,5,272,23,14,4
2,2,2.0,2.0,2.0,2.0,2.0,2.0,3,Quinton de Kock,Lucknow,5,5,188,21,14,4
3,3,3.0,3.0,3.0,3.0,3.0,3.0,4,Prithvi Shaw,Delhi,4,4,160,21,14,4
4,4,4.0,4.0,4.0,4.0,4.0,4.0,5,Shubman Gill,Gujarat,5,5,200,20,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20,NaN,NaN,NaN,NaN,NaN,NaN,21,Aiden Markram,Hyderabad,6,5,190,16,21,4
196,21,NaN,NaN,NaN,NaN,NaN,NaN,22,Deepak Hooda,Lucknow,7,7,183,15,21,4
197,22,NaN,NaN,NaN,NaN,NaN,NaN,23,Ambati Rayudu,Chennai,7,6,168,15,21,4
198,23,NaN,NaN,NaN,NaN,NaN,NaN,24,Rishabh Pant,Delhi,6,5,144,15,21,4
199,24,NaN,NaN,NaN,NaN,NaN,NaN,25,Shimron Hetmyer,Rajasthan,6,6,223,14,21,4

In [ ]:
df.to_csv('Main\MostFours.csv')

## **Most Wickets**

In [ ]:
result = requests.get('https://www.mykhel.com/cricket/ipl-2022-stats-s4/#T20#tab-topwickets')

In [ ]:
src = result.content

In [ ]:
soup = BeautifulSoup(src,'html.parser')

In [ ]:
table = soup.find_all("table")

In [ ]:
len(table)

14

In [ ]:
most_wickets = table[9]

In [ ]:
players = most_wickets.find_all("tr")

In [ ]:
stats = players[1].find_all("td")

In [ ]:
stats[8].text

'1'

In [ ]:
pos = []
player_name = []
team = []
matches = []
inn = []
balls = []
wkts = []
FiveWkts = []
for i in range(1,26):
    stats = players[i].find_all("td")
    pos.append(stats[0].text)
    player_name.append(stats[2].text)
    team.append(stats[3].text)
    matches.append(stats[4].text)
    inn.append(stats[5].text)
    balls.append(stats[6].text)
    wkts.append(stats[7].text)
    FiveWkts.append(stats[8].text)

In [ ]:
mostWkts = {
    'Pos':pos,
    'Player':player_name,
    'Team':team,
    'Matches':matches,
    'Inn':inn,
    'Balls':balls,
    'Wickets':wkts,
    '5 Wickets':FiveWkts,
    'Day':day,
    'Month':month
}

In [ ]:
df = pd.DataFrame(mostWkts)

In [ ]:
df

,Pos,Player,Team,Matches,Inn,Balls,Wickets,5 Wickets,Day,Month
0,1,Yuzvendra Chahal,Rajasthan,6,6,144,17,1,21,4
1,2,Kuldeep Yadav,Delhi,6,6,142,13,0,21,4
2,3,Dwayne Bravo,Chennai,7,7,154,12,0,21,4
3,4,T Natarajan,Hyderabad,6,6,144,12,0,21,4
4,5,Avesh Khan,Lucknow,7,7,160,11,0,21,4
5,6,Wanindu Hasaranga,Bangalore,7,7,150,11,0,21,4
6,7,Khaleel Ahmed,Delhi,5,5,120,10,0,21,4
7,8,Rahul Chahar,Punjab,7,7,159,10,0,21,4
8,9,Umesh Yadav,Kolkata,7,7,168,10,0,21,4
9,10,Umran Malik,Hyderabad,6,6,132,9,0,21,4
10,11,Josh Hazlewood,Bangalore,3,3,72,8,0,21,4
11,12,Harshal Patel,Bangalore,6,6,144,8,0,21,4
12,13,Mohammed Shami,Gujarat,6,6,144,8,0,21,4
13,14,Bhuvneshwar Kumar,Hyderabad,6,6,144,8,0,21,4
14,15,Lockie Ferguson,Gujarat,6,6,144,8,0,21,4
15,16,Jason Holder,Lucknow,5,5,120,8,0,21,4
16,17,Maheesh Theekshana,Chennai,4,4,96,7,0,21,4
17,18,Trent Boult,Rajasthan,5,5,120,7,0,21,4
18,19,Kagiso Rabada,Punjab,6,6,126,7,0,21,4
19,20,Mukesh Choudhary,Chennai,6,6,123,7,0,21,4
20,21,Sunil Narine,Kolkata,7,7,168,6,0,21,4
21,22,Rashid Khan,Gujarat,6,6,144,6,0,21,4
22,23,Murugan Ashwin,Mumbai,6,6,126,6,0,21,4
23,24,Jaydev Unadkat,Mumbai,4,4,96,6,0,21,4
24,25,Mohammed Siraj,Bangalore,7,7,168,6,0,21,4

In [ ]:
df.to_csv('most_wickets.csv')

In [ ]:
temp = "most_wickets.csv"
Main = "Main\MostWickets.csv"

df = pd.concat(map(pd.read_csv,[Main,temp]),ignore_index=True)
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Pos,Player,Team,Matches,Inn,Balls,Wickets,5 Wickets,Day,Month
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1,Yuzvendra Chahal,Rajasthan,5,5,120,12,0,14,4
1,1,1.0,1.0,1.0,1.0,1.0,1.0,2,Umesh Yadav,Kolkata,5,5,120,10,0,14,4
2,2,2.0,2.0,2.0,2.0,2.0,2.0,3,Kuldeep Yadav,Delhi,4,4,94,10,0,14,4
3,3,3.0,3.0,3.0,3.0,3.0,3.0,4,Wanindu Hasaranga,Bangalore,5,5,114,10,0,14,4
4,4,4.0,4.0,4.0,4.0,4.0,4.0,5,Lockie Ferguson,Gujarat,5,5,120,8,0,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,20,NaN,NaN,NaN,NaN,NaN,NaN,21,Sunil Narine,Kolkata,7,7,168,6,0,21,4
196,21,NaN,NaN,NaN,NaN,NaN,NaN,22,Rashid Khan,Gujarat,6,6,144,6,0,21,4
197,22,NaN,NaN,NaN,NaN,NaN,NaN,23,Murugan Ashwin,Mumbai,6,6,126,6,0,21,4
198,23,NaN,NaN,NaN,NaN,NaN,NaN,24,Jaydev Unadkat,Mumbai,4,4,96,6,0,21,4
199,24,NaN,NaN,NaN,NaN,NaN,NaN,25,Mohammed Siraj,Bangalore,7,7,168,6,0,21,4

In [ ]:
df.to_csv('Main\MostWickets.csv')